.product-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.product-list-item__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
}

.product-list-item__name{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-list-item__code{
    font-size: .75rem;
    color: #999;
}

.product-list-item__actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.product-list-item__view {
    font-size: 1rem;
    padding: 0.5em 1em;
    display: inline-block;
    background-color: rgb(69, 175, 210);
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}
.product-list-item__description{
    font-size: 1.0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}